.card {
    background-color: rgba(255, 255, 255, 1);
    height: 180px;
    margin-bottom: 20px;
    padding: 5px;
    width: 150px;
}

.img-container {
    overflow-x: hidden;
    width: 100%;
}

img {
    width: 100%;
}

h3 {
    color: rgb(0, 162, 146);
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    margin: 5px 0;
}

.text {
    font-size: 11px;
    line-height: 1.5;
    text-decoration: none;
}

a:link {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 0, 162);
}

a:active {
    color: rgb(255, 0, 162);
}

a:visited {
    color: rgb(0, 0, 0);
}

@media screen and (min-width: 480px) {
    .card {
        height: 230px;
        padding: 7px;
        width: 200px;
    }

    h3 {
        font-size: 24px;
    }

    .text {
        font-size: 14px;
    }

    #insta-icon {
        font-size: 16px;
    }
}

@media screen and (min-width: 642px) {
    .card {
        height: 250px;
        margin-bottom: 40px;
        padding: 10px;
        width: 250px;
    }

    
}

@media screen and (min-width: 885px) {
    .card {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media screen and (min-width: 1740px) {
    .card {
        margin: 50px;
    }
}