.card {
    background-color: rgba(255, 255, 255, 1);
    height: 180px;
    margin-bottom: 20px;
    padding: 5px;
    width: 150px;
}

.img-container {
    overflow-x: hidden;
    width: 150px;
}

img {
    width: 100%;
}

h3 {
    color: rgb(0, 162, 146);
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    margin: 5px 0;
}

p {
    font-size: 11px;
    line-height: 1.5;
}

a:link {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 0, 162);
}

a:active {
    color: rgb(255, 0, 162);
}

a:visited {
    color: rgb(0, 0, 0);
}